.left-header
  .left-header__box
    .left-header__box__name
      %p
        = current_user.name
      %ul
        %li
          = link_to new_group_path do
            = fa_icon 'pencil-square-o', class: 'icon'
        %li 
          =link_to edit_user_path(current_user) do
            = fa_icon 'cog', class: 'icon'

.left-main
  .left-main__box
    - current_user.groups.each do |group|
      = link_to group_messages_path(group) do
        .left-main__box__p
          = group.name
        .left-main__box__p2
          = group.show_last_message